# Ignorar arquivos de ambiente
.env

# Ignorar o ambiente virtual
venv/
.venv/ # Pode ser que o ambiente virtual seja criado como .venv em alguns casos

# Ignorar cache do Python
__pycache__/
*.pyc

# Ignorar arquivos específicos do VS Code
.vscode/

# Ignorar outros arquivos comuns de build ou temporários
*.log
*.tmp
*.bak